@import url('https://fontlibrary.org//face/noto-sans-normal');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #262421;
  color: rgb(186, 186, 186);
  font-family: 'Noto Sans', sans-serif;
  height: 99vh;
}

header,
#header-left,
#header-right,
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

ul {
  list-style: none;
}

li {
  margin-left: 20px;
}

.icon {
  margin-left: 20px;
}

#sign-in {
  margin-left: 40px;
  color: rgb(54, 146, 231);
}

a {
  text-decoration: none;
  color: inherit;
}

.uppercase {
  text-transform: uppercase;
}

#main-body {
  display: flex;
  justify-content: center;
  height: 88%;
  width: 100%;
}

#main-body-container {
  background-color: #2e2a24;
  height: 100%;
  width: 75%;
  border-radius: 10px;
}

#main-body-content {
  display: grid;
  grid-template: 1fr 5fr / 1fr 1fr;
  justify-items: center;
  grid-template-areas:
    'header     header'
    'left-side  right-side';
}

#main-body-header {
  grid-area: header;
}

#main-body-left {
  grid-area: left-side;
}

#main-body-right {
  grid-area: right-side;
}
